</div>
<!-- /.container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; Pocket Market | <a href="/PocketMarket">Home</a> | <a href="/PocketMarket/new">New Post</a></p>
    </div>
</footer>

<!-- JQuery CD -->
<script   
    src="https://code.jquery.com/jquery-3.5.1.js"   
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="   
    crossorigin="anonymous"></script>

<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
        crossorigin="anonymous"></script>
</body>
</html>

    