<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Market</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/landing.css">

=======
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
>>>>>>> dc91df450211922493cfdc161c06cede356f9d3d
</head>
<body>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    <div id="landing-header">
        <h1>Welcome to Pocket Market!</h1>
        <h4>Plan ahead, Buy the best</h4>
<<<<<<< HEAD
        <a href="/p_markets" class="btn btn-default btn-lg bigger animated">Get Started</a>
=======
        <a href="/PocketMarket" class="btn btn-lg btn-success">Get Started</a>
>>>>>>> dc91df450211922493cfdc161c06cede356f9d3d
    </div>    

    <ul class="slideshow" >
        <li ></li>
		<li ></li>
		<li ></li>
        <li ></li>
		<li ></li>
    </ul>
</body>




